code {
  font-family: 'Cutive Mono', monospace, "Courier New";
  text-align: left !important;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 0.9em;
  display: block;
  letter-spacing: 1px;
  background: rgb(209, 248, 212);
  overflow: auto;
}
