footer {
  margin-top: -10px;
  background: $color_primary_light;
  color: $color_white;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      a {
        text-decoration: none;
        color: $color_white;
      }
    }
  }
}

.space {
  margin: .7em 0;
}

.footer-copyright {
  height: 3em;
  background: $color_primary_dark;

  a {
    text-decoration: none;
    color: $color_white;
  }
}
