.pagination {
  margin-bottom: 1.2em;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    li {
      a {
        text-decoration: none;
        margin: 0 .5rem;
        width: 2.5rem;
        height: 2.5rem;
        display: block;
        text-align: center;
        line-height: 2.25;
        color: $color_navbar_background;
        font-weight: bold;

        &:hover, &.active {
          color: $color_white;
          background: $color_navbar_background;
        }
      }
    }
  }
}

.pagination-circle {
  a {
    border-radius: 50%;
    box-shadow: 0 1px 5px $color_gray;
  }
}

.pagination-square {
  a {
    border-radius: 0.3rem;
  }

}
