$color_white: #f9f9f9;
$color_black: #232323;
$color_gray: #9E9E9E;
$color_primary: #49CAAE;
$color_success: #23D160;
$color_warning: #FEEA3B;
$color_danger: #F34336;
$color_info: #03A9F4;
$color_navbar_background: #49CAAE;

$color_white_dark: darken($color_white, 10%);
$color_gray_dark: darken($color_gray, 8%);
$color_primary_dark: darken($color_primary, 8%);
$color_success_dark: darken($color_success, 10%);
$color_warning_dark: darken($color_warning, 12%);
$color_danger_dark: darken($color_danger, 12%);
$color_info_dark: darken($color_info, 10%);
$color_navbar_background_dark: darken($color_navbar_background, 8%);

$color_white_light: lighten($color_white, 10%);
$color_gray_light: lighten($color_gray, 10%);
$color_primary_light: lighten($color_primary, 10%);
$color_success_light: lighten($color_success, 10%);
$color_warning_light: lighten($color_warning, 10%);
$color_danger_light: lighten($color_danger, 10%);
$color_info_light: lighten($color_info, 10%);
$color_navbar_background_light: lighten($color_navbar_background, 8%);

$container_max_width: 1200px;
$grid_padding: 10px;
$root_font_size: 15px;
$base_line_height: 1.35;
$base_font_family: "Open Sans", sans-serif;
$headings_weight: 300;
$table_border: 2px solid $color_black;

$transition_default: .3s all;
$tooltip_width: 8em;

