$color_white: #f9f9f9;
$color_black: #232323;
$color_gray: gray;
$color_primary: #4372bc;
$color_success: #3dce40;
$color_warning: #ffd800;
$color_danger: #e00202;
$color_info: #5ec8e0;

$color_white_dark: darken($color_white,20%);
$color_gray_dark: darken($color_gray, 8%);
$color_primary_dark: darken($color_primary, 8%);
$color_success_dark: darken($color_success, 8%);
$color_warning_dark: darken($color_warning, 7%);
$color_danger_dark: darken($color_danger, 7%);
$color_info_dark: darken($color_info, 15%);

$color_white_light: lighten($color_white, 10%);
$color_gray_light: lighten($color_gray, 10%);
$color_primary_light: lighten($color_primary, 10%);
$color_success_light: lighten($color_success, 10%);
$color_warning_light: lighten($color_warning, 10%);
$color_danger_light: lighten($color_danger, 10%);
$color_info_light: lighten($color_info, 10%);

$root_font_size: 15px;
$base_line_height: 1.35;
$base_font_family: "Open Sans", sans-serif;
$headings_weight: 300;
$table_border: 2px solid $color_black;
$container_max_width: 1300px;
$grid_padding: 10px;

$transition_default: .3s all;

