.label {
  background: $color_gray_light;
  color: $color_white;
  font-size: .8em;
  padding: .2em .5em;
  border-radius: .2em;
  position: relative;
  bottom: .1em;
  &.label-primary {
    background: $color_primary_light;
  }
  &.label-success {
    background: $color_success_light;
  }
  &.label-warning {
    background: $color_warning_light;
  }
  &.label-danger {
    background: $color_danger_light;
  }
  &.label-info {
    background: $color_info_light;
  }
  &:empty {
    display: none;
  }
}

@media (max-width: 768px) {
  .label {
    padding: .1em .5em;
  }
}
