table {
  border-collapse: collapse;
  margin: 1.5rem 0;
  thead tr {
    border-bottom: 2px solid $color_black;
  }
  th, td {
    padding: 0.5rem;
  }
  &.table-bordered {
    tr {
      border-bottom: $table_border;
    }
  }

  &.table-striped {
    thead tr {
      border-bottom: $table_border ;
    }
    tbody tr:nth-child(odd) {
      background: #D1F8D4;
    }
  }
  &.table-highlighted {
    thead tr {
      border-bottom: $table_border;
    }
    tbody tr:hover {
      background: #D1F8D4;
    }
  }
}

